body{
    margin: 0px;
    color: #40514e;
text-align: center;
font-family: font-family: 'Montserrat', sans-serif;


}
h1{

    margin-top: 0 ;
    font-family: 'Montserrat', sans-serif;

    font-size: 90px;
    margin-top: 50px;
    color: #66bfbf;
    
    
}
h2{
    color: #66bfbf;
    font-family:'Montserrat',sans-serif;
    font-size: 2.5em;
    font-weight: normal;
    padding-bottom: 10px;
}
p{
    margin:10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;

    font-weight: normal;
    line-height: 2;

}
.middle-container{
    margin: 100px 0px;
}

.top-container{
    
    background-color:#E4F9F5 ;
    position: relative;
    padding-top: 100px;
    
    
   
    
}
.top-cloud{
    position: absolute;
    top: 50px;
    right:400px;
   
}



.bottom-cloud{
    position: absolute;
}

    
    
    

a,h3{
    color: #11999e;
}
.skill-row{
    width: 50%;
    margin: 100px auto;
   
    text-align: left;
}
.skill-test{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.skill-music{
    width: 25%;
    float: right;
    margin-left: 30px;
    border-radius: 10px;

}
.intro{
    width: 30%;
    margin: auto;
}
hr{
    border: dotted #eaf6f6 6px ;
    width: 4%;
    border-bottom: none;
    margin: 100px auto;
    
}
.btn {
    background-color: #11CDD4;
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    border-radius: 14px;
     height: 50px;
    line-height: 50px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
 width: 200px;
    font-size: 20px;
    font-weight: 100;
    padding: 15px;
    box-shadow: 1px 1px 20px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    border-color: solid #337FED 1px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    }
    
    .btn:hover {
    border-color:1px  solid #337FED ;
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    border-top-left-radius: 20px;
    border-radius: 20px;
    text-decoration-skip: none;
    }
    .bottom-container{
        background-color: #66bfbf;
        padding: 50px 0 20px;

    }
a{
    color: #11999e;
    margin: 10px 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;


}
a:hover{
    color: #eaf6f6;
}
copyright{
    color: #eaf6f6;
    font-size: 0.75rem;
    font-family: 'Montserrat', sans-serif;

}